/* styles.css */

/* Global Styles */

:root {
  --background-color: #5355504b;
  --border-radius: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif, serif;
  margin: 0;
  padding: 0;
  text-align: justify;
}

/* Header Styles */
header {
  background-image: url("../assets/wallpaper.jpg");
  background-size: 2000px 290px;
  background-repeat: no-repeat;
  color: #fff;
  padding: 10px;
  } #main-logo {
    width: 200px;
    margin-left:40%; 
  } #avatar {
    width: 120px;
    float: left;
    margin-top: 29px;
  }



/* Navigation Styles */

nav {
  width: 100%;
  background-color: #444;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 15px;
  padding: 30px;
  
}

nav a {
  color: white;
  text-decoration: none;
   
}

/* Main Content Styles */
.main-content {
    box-sizing: 400px auto;
    background-color: lightgray;
    margin-top: 50px;
    padding: 50px;
    line-height: 35px;
}

.main-content .info-box{
  display: block; 
  width: 75%;
  background-color: rgba(125, 142, 143, 0.342);
  margin: auto 200px;
  padding-bottom: 50px;
}

.main-content #bio {
  width: 90%;
  margin-left: 55px;
  margin-top: 25px;
  text-align: justify;
}

#main-h2-title {
  box-sizing: 100px 100px;
  background-color: rgba(206, 157, 93, 0.281);
  text-align: center;
}


.info-box ul{
  list-style: none;
  padding: 30px;
} li {
  padding-top: 10px;
  margin-bottom: auto;
} a {
  display: inline-block;
  padding-left: 40px; /* Add space for the icon */
  background-repeat: no-repeat;
  background-position: left center; /* Position the icon */
  text-decoration: none;
  background-size: 25px 25px;
  margin-left: 15px;
}



.linkedin {
  background-image: url(../assets/Linkedin-icon.png);
}
.linkedin:hover {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}



.cellphone {
  background-image: url(../assets/Phone-icon.png);
}
.cellphone:hover {
  background-color: var(--background-color);
  border-radius: var(--border-radius);  
}

.email {
  background-image: url(../assets/Email-icon.png);
}
.email:hover {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}



/* Footer Styles */
footer {
  position: absolute;
  bottom: -100;
  width: 100%;
  margin-top: 80px;
  background-color: #444;
  color: #fff;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  padding: 25px;
}

footer .header-footer {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
