/* styles.css */

/* Global Styles */

body {
  font-family: Arial, Helvetica, sans-serif, serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-image: url("../assets/wallpaper.jpg");
  background-size: 2000px 290px;
  background-repeat: no-repeat;
  color: #fff;
  padding: 10px;
  } #main-logo {
    width: 200px;
    margin-left:40%; 
  } #avatar {
    width: 120px;
    float: left;
    margin-top: 29px;
  }



/* Navigation Styles */

nav {
  width: 100%;
  background-color: #444;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 15px;
  padding: 30px;
  
}

nav a {
  color: white;
  text-decoration: none;
   
}

/* Main Content Styles */
.main-content {
    box-sizing: 400px auto;
    background-color: lightgray;
    margin-top: 50px;
    padding: 50px;
    line-height: 40px;
}

.main-content .info-box{
  width: 75%;
  
  background-color: lightblue;
}

#main-h2-title {
  box-sizing: 100px 100px;
  background-color: gold;
}

/* Footer Styles */
footer {
  position: absolute;
  bottom: -100;
  width: 100%;
  margin-top: 80px;
  background-color: #444;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 25px;
}
